{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>RumahIkann</title>
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
  {%block style%}
  {%endblock style%}
</head>
<body>
{%block content%}
<!--parent-->
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Menu</h2>
      <ul>
    <li><a href="/">home</li>
  <li><a href="/about/">about</li>
  <li><a href="/product/">product</li>
      </ul>
    </div>

<div class="teks">
<h1>SELAMAT DATANG DI RumahIkann</h1>
<p>menyediakan berbagai macam ikan konsumsi, ikan hias, dan perlengkapan ikan sesuai kebutuhan anda</p>
</div>

    <!-- Content -->
    <div class="content">
      <h1>Best Seller</h1>
      <div class="card-container">
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Mujair">
          <h3>Ikan Mujair</h3>
          <p>Harga: Rp20.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Gurame">
          <h3>Ikan Gurame</h3>
          <p>Harga: Rp50.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Lele">
          <h3>Ikan Lele</h3>
          <p>Harga: Rp15.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
      </div>
    </div>

    

     <!-- Content -->
    <div class="content">
      <h1>Ikan Konsumsi</h1>
      <div class="card-container">
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Mujair">
          <h3>Ikan Mujair</h3>
          <p>Harga: Rp20.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Gurame">
          <h3>Ikan Gurame</h3>
          <p>Harga: Rp50.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Lele">
          <h3>Ikan Lele</h3>
          <p>Harga: Rp15.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
      </div>
    </div>
  
 <!-- Content -->
    <div class="content">
      <h1>Ikan Hias</h1>
      <div class="card-container">
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Mujair">
          <h3>Ikan Mujair</h3>
          <p>Harga: Rp20.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Gurame">
          <h3>Ikan Gurame</h3>
          <p>Harga: Rp50.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Lele">
          <h3>Ikan Lele</h3>
          <p>Harga: Rp15.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
      </div>
    </div>

<!-- Content -->
    <div class="content">
      <h1>Perlengkapan Ikan</h1>
      <div class="card-container">
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Mujair">
          <h3>Ikan Mujair</h3>
          <p>Harga: Rp20.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Gurame">
          <h3>Ikan Gurame</h3>
          <p>Harga: Rp50.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
        <div class="card">
          <img src="{% static 'image/mujair.jpg' %}" alt="Ikan Lele">
          <h3>Ikan Lele</h3>
          <p>Harga: Rp15.000/kg</p>
          <button>Beli Sekarang</button>
        </div>
      </div>
    </div>


  </div>
{%endblock content%}
</body>
</html>