{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>RumahIkann</title>
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
  {%block style%}
  {%endblock style%}
</head>
<body>
{%block content%}
<!--parent-->
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Menu</h2>
      <ul>
    <li><a href="/">home</li>
  <li><a href="/about/">about</li>
  <li><a href="/product/">product</li>
      </ul>
    </div>

<div class="teks">
<h1>SELAMAT DATANG DI RumahIkann</h1>
<p>menyediakan berbagai macam ikan konsumsi, ikan hias, dan perlengkapan ikan sesuai kebutuhan anda</p>
</div>

    <!-- Content -->
    <div class="content">
      <h1>Ikan Konsumsi</h1>
      <div class="card-container">
        {% for ikan in data_ikan %}
        {% if ikan.type == "konsumsi" %}
        <div class="card">
          <img src="{{ikan.gambar}}" alt="Ikan Mujair">
          <h3>{{ikan.nama}}</h3>
          <p>Harga: Rp.{{item.harga}}/kg</p>
          <button>Beli Sekarang</button>
        </div>
        {% endif %}
        {% endfor %}
      </div>


      <h1>Ikan Hias</h1>
      <div class="card-container">
        {% for ikan in data_ikan %}
        {% if ikan.type == "hias" %}
        <div class="card">
          <img src="{{ikan.gambar}}" alt="Ikan Mujair">
          <h3>{{ikan.nama}}</h3>
          <p>Harga: Rp.{{item.harga}}/kg</p>
          <button>Beli Sekarang</button>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    

     <!-- Content -->
    
{%endblock content%}
</body>
</html>